.card.selected {
    border: 3px solid #db2828
}

.card.selected:hover {
    border: 3px solid #db2828 !important
}

.dropdown {
    text-align: center !important;
}

.menu .item {
    text-align: center !important;
}

.name-link {
    color: #db2828;
    text-decoration: underline;
    cursor: pointer;
}

.selection-card-container {
    padding: 10px;
}

.selection-card {
    border: 2px solid #f5f5f5;
    cursor: pointer;
}

.selection-card:hover {
    box-shadow: 0px 0px 3px #ccc;
}

.selection-card.selected {
    border: 2px solid #db2828;
    cursor: pointer;
}

.image-asset {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.body-image {
    position: absolute;
    left: 0;
    z-index: 0;
}

.hair-image {
    position: absolute;
    left: 0;
    z-index: 1;
}

.top-image {
    position: absolute;
    left: 0;
    z-index: 2;
}

.bottom-image {
    position: absolute;
    left: 0;
    z-index: 3;
}

.shoes-image {
    position: absolute;
    left: 0;
    z-index: 0;
}

.mobile-controls {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-controls {
        display: flex;
        justify-content: space-between;
      }
    .control-row {
        margin-top: 20px;
    }
  }


  .loading-container {
      min-height: 300px;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }